name: Blogs
on:
  schedule:
  - cron: "0 22 * * *"
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Latest Blog Posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "6"
          feed_list: "https://trickbd.com/feed"
